---
name: 'multi-line-padding'
description: "You can not apply the background and padding to a <span> or an inline element. The left and right padding will only apply to the very first and very last line. On each of the middle lines, the background will butt up immediately next to the text. The attribute box-decoration-break solves this problem but needs prefixing. Not working with borders. <a href='http://codepen.io/chriscoyier/pen/hIvFe'>Source</a>"
examples:
  - code: ".multi-line-padding\n  multi-line-padding()"
    el: "<span class='multi-line-padding'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>"
_content: false
---
